################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/20200227StructureAlgorithm/StructureAlgorithm/.vs/StructureAlgorithm
/20200227StructureAlgorithm/StructureAlgorithm/StructureAlgorithm/bin/Debug/netcoreapp3.1
/20200227StructureAlgorithm/StructureAlgorithm/StructureAlgorithm/obj/Debug/netcoreapp3.1
/20200227StructureAlgorithm/StructureAlgorithm/StructureAlgorithm/obj/StructureAlgorithm.csproj.nuget.g.targets
/20200227StructureAlgorithm/StructureAlgorithm/StructureAlgorithm/obj/StructureAlgorithm.csproj.nuget.g.props
/20200227StructureAlgorithm/StructureAlgorithm/StructureAlgorithm/obj/StructureAlgorithm.csproj.nuget.dgspec.json
/20200227StructureAlgorithm/StructureAlgorithm/StructureAlgorithm/obj/project.nuget.cache
/20200227StructureAlgorithm/StructureAlgorithm/StructureAlgorithm/obj/project.assets.json
